
video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;    
    background-size: cover;
}

footer {
    background-color: #001223;
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

footer a {
    color: #fff;
}

footer a:visited {
    color: #fff;
}

footer a:hover {
    color: #ddd;
}

footer div {    
    margin: 0.5rem;
}

footer div.st-logo-container {
    margin: 0px;
    margin-top: 2rem;
    width: 100%;
    background-color: #ff7628;
    background-color: #ff6c2c;;
}

.st-logo-animated {
    width: 100%;
    max-width: 480px;
    height: auto;
}

.st-video-container {
    padding-top: 1rem;
    width: 100%;
    aspect-ratio: 16/9;
}

.st-video-caption {
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.st-footer-first {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.st-footer-first img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.st-footer-socials {
    display: flex;
}

.st-footer-socials a {
    padding-right: 1rem;
}

.st-footer-socials a:last-child {
    padding-right: 0;
}

.st-footer-sponsor {
    text-align: center;
    color: #ff6c2c;
}

.st-warning {
    color: red;
    text-align: center;
    font-size: 1em;
    
}

.st-caption {
    font-size: 1rem;
}

.st-quote-sub-caption {
    font-size: 1.6rem;
    color: #01202e;
    margin-top: 0.5rem;
}

.st-quote-sub-caption-orange {
    font-size: 1.6rem;
    color: #ff6c2c;
    margin-top: 0.5rem;
}

.st-underline {

    text-decoration: underline;
    
}

/*
ul.st-bullet li:before {
    content: "\2611";
    margin-right: 5px;
}
*/

@media only screen and (max-width: 768px) {

    footer {
        font-size: 0.8rem;
    }
  
}
